nltk>=3.8.1
textblob>=0.17.1
python-dateutil>=2.8.2
streamlit>=1.28.0
cryptography>=41.0.0
gTTS>=2.5.4
SpeechRecognition>=3.14.5
langdetect>=1.0.9
audio-recorder-streamlit>=0.0.10
plotly>=5.18.0
bcrypt>=3.2.0
